{% extends 'rates/base.html' %}

{% block content %}
    <div class="container mt-2">
        <h1 class="text-primary text-center">{% filter upper %}{{currency}}{% endfilter %} rates page</h1>
        <!-- Error message in case of bad input -->
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="text-danger {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <form action="{% url 'rates:new' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="currency" value={{currency}}>
            <div class="form-group">
                <label for="date-field">Date :</label>
                <input type="date" class="form-control" name="date" id="date-field" required>
            </div>
            <div class="form-group">
                <label for="rate-field">Rate :</label>
                <input type="number" class="form-control" name="rate" id="rate-field" step="any" required>
            </div>
            <div class="form-group">
                <input type="submit" class="form-control bg-secondary text-white" value="Add">
            </div>
        </form>
        {% if not rates %}
            <h2 class="text-primary text-center">There are no rates now</h1>
        {% else %}
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
            <div>
                <canvas id="RateChart"></canvas>
            </div>
            <!-- Chart.js widget -->
            <script>
            var ctx = document.getElementById('RateChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [ {% for x in rates%} " {{x.date}} ", {% endfor %}],
                    datasets: [{
                        label: {% filter upper %}"{{currency}}"{% endfilter %},
                        backgroundColor: 'aqua',
                        borderColor: 'darkgrey',
                        data: [ {% for x in rates%} {{x.rate}}, {% endfor %}]
                    }]
                },
            });
            </script>
        {% endif %}
    {% endblock %}
</div>

